/**************************************
**  This rule kill favicons.         **
***************************************

li{
  list-style-image : none !important;
}

***************************************/


/***************************************
**  This rule add a folder favicon.   **
***************************************/

li[class="folder"]{
  list-style-image : url(../data/folder.png);
  width:95%;
}

li.bookmark{
  list-style-image : none;
  list-style-type:disc;
}

/**************************************/

body{
  background-color: #e0e0FF;
  color: #000066;
}

h3{
  color: #000066;
	font-style:italic;
}

img{
  border: none;
}

span.spacer{
  min-width:4px;
}


div.xbel{
  border: 2px #F0F0FF solid;
  background-color: #F8F8F8;
  width:95%;
}

span.folderName{
  font-weight:bold;
}

span.folderName:hover
{
  cursor: pointer;
}
span.folderName:active
{
  color:red;
}

div.folderList{
  border: thin #CCCCFF solid;
  background-color: #F0F0F0;
  margin-bottom:4px;
  padding:4px 0px 4px 0px;
}

li.separator{
  list-style-type:none;
  list-style-image : none;
  width:80%;
}


/* IE ignores selector */

.folderList >*>*> .folderList{
  background-color: #E8E8FF;
}

.folderList >*>*>
.folderList >*>*> .folderList{
  background-color: #E0E0FF;
}

.folderList >*>*>
.folderList >*>*>
.folderList >*>*> .folderList{
  background-color: #D8D8FF;
}

.folderList >*>*>
.folderList >*>*>
.folderList >*>*>
.folderList >*>*> .folderList{
  background-color: #D0D0FF;
}
