@property --icon-size {
  syntax: "length";
  inherits: true;
}

@property --icon-color {
  syntax: "color";
  inherits: true;
}

/* https://material.io/tools/color/#!/?view.left=1&view.right=1&primary.color=F77146&secondary.color=33769D&primary.text.color=ffffff */
:root {
  --primary-color: oklch(0.703 0.175 38.139);
  --primary-dark-color: oklch(0.547 0.168 36.467);
  --text-color-on-primary: oklch(1 0 89.876);
  --secondary-color: oklch(0.543 0.091 237.043);
  --secondary-dark-color: oklch(0.392 0.088 238.557);

  --content-color: oklch(0.178 0 89.876);
  --content-background: oklch(1 0 89.876);
  --border-color: oklch(0.321 0 89.876);
  --border-width: 2px;

  --icon-color: var(--secondary-dark-color);
  --futura: futura-pt, "Trebuchet MS", Arial, sans-serif;
  --iosevka: Iosevka, "Iosevka Web", Monaco, "Source Code Pro", Consolas,
  "Lucida Console", "Monaco CE", fixed, monospace;
  --iosevka-sparkle: "Iosevka Sparkle Web", Cambria, Georgia, "New York CE", utopia,
  serif;
  --garamond: cormorant-garamond, Garamond, Baskerville, "Baskerville Old Face",
  "Hoefler Text", "Times New Roman", serif;
  --main-font: var(--futura);
  --content-font: var(--iosevka-sparkle);
  --citation-font: var(--garamond);
  --code-font: var(--iosevka);

  --heading-font: 800 2.5em var(--main-font);

  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--primary-color);
  --pagefind-ui-text: var(--content-color);
  --pagefind-ui-background: var(--content-background);
  --pagefind-ui-border: var(--border-color);
  --pagefind-ui-border-width: var(--border-width);
  --pagefind-ui-border-radius: 0;
  --pagefind-ui-font: var(--content-font);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  color: var(--text-color-on-primary);
}

body {
  border-block: var(--border-width) solid var(--border-color);
  font: 16px var(--main-font);
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

h2,
article h1 {
  font: var(--heading-font);
  letter-spacing: -1px;
  text-wrap: balance;
  margin: 0;
  z-index: 20;
}

h2 a {
  text-decoration: none;
}

h3 {
  color: #000;
  font: 600 1.5em var(--main-font);
  letter-spacing: -1px;
  margin: 1.5em 0 0.25em;
}

p,
ul,
ol,
dl {
  font: 1em/1.5 var(--content-font);
  text-wrap: pretty;
  margin: 0.125em 0 1em;
  padding: 0;
}

blockquote {
  border-left: var(--border-width) solid var(--border-color);
  color: oklch(0.51 0 89.876);
  margin: 0.3em 0 0.6em;
  padding: 0.4em 2em 0.2em;
}

blockquote,
blockquote p {
  font: 1.5rem var(--citation-font);
}

aside {
  margin: 0 4em;
}

aside p {
  font-size: 1.2rem;
  --content-font: var(--citation-font);
}

figure {
  margin: 1rem 0 1.5rem;

  figcaption {
    max-width: 80%;
    margin: 1em auto 0;
    text-align: center;
    text-wrap: balance;
  }
}

img.right {
  float: right;
  margin: 0.4em;
}

abbr,
acronym {
  border-bottom: 1px dotted oklch(0.45 0 89.876);
}

code {
  background: oklch(0.974 0.012 106.618);
  font: 1em var(--code-font);
  padding: 0 0.125em;
}

pre {
  border: 1px solid oklch(0.845 0 89.876);
  margin: 1em 0;
  padding: 0.5em;
  overflow: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
}

* html pre {
  overflow-y: visible;
}

pre.console {
  background: oklch(0 0 0);
  color: oklch(0.808 0 89.876);
}

pre.console code {
  font-family: var(--code-font);
  color: oklch(0.808 0 89.876);
  background: transparent;
}

code[class*="language-"],
pre:has(> code) {
  color: oklch(0.178 0 89.876);
  background-color: oklch(0.998 0.009 106.565);
  font-family: var(--code-font);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* ((fg "#111111")
      (fg-table "#222291")
      (bg "#fffff8")
      (bg-light "#ddddd8")
      (fg-light "#ddddd8")
      (bg-highlight "#FFF1AA")
      (bg-highlight-2 "LightCyan")
      (bg-highlight-3 "LightGreen"))*/

pre:has(> code)::-moz-selection,
pre:has(> code) ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre:has(> code)::selection,
pre:has(> code) ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: oklch(0.953 0.091 98.352);
}

pre:has(> code) {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre:has(> code) {
  background: oklch(0.998 0.009 106.565);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.25em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: oklch(0.593 0.031 248.348);
}

.token.punctuation {
  color: oklch(0.6 0 89.876);
}

.namespace {
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {

}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  font-weight: bold;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {

}

.token.atrule,
.token.attr-value,
.token.keyword {
  font-weight: bold;
}

.token.regex,
.token.important {
  font-style: italic;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre:has(> code) {
  font-feature-settings: "calt" 1;
}

pre.language-javascript:has(> code) {
  font-feature-settings: "calt" 0, "JSPT" 1;
}

pre.language-fsharp:has(> code) {
  font-feature-settings: "calt" 0, "FSHP" 1;
}

pre.language-csharp:has(> code) {
  font-feature-settings: "calt" 0, "CLIK" 1;
}

pre.language-php:has(> code) {
  font-feature-settings: "calt" 0, "PHPX" 1;
}

a {
  color: var(--secondary-dark-color);
}

a img {
  border: 0;
}

a:visited {
  color: oklch(0.45 0 89.876);
}

a:hover {
  background: var(--primary-dark-color);
  color: var(--text-color-on-primary);
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0 0 0 2.5em;
}

div.image {
  border: 1px solid oklch(0.845 0 89.876);
  padding: 4px;
  margin: 1em 0;
  overflow: auto;
}

iframe.player {
  border: none;
}

.youtube-player {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.wai a {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.wai a:focus,
.wai a:active {
  margin: 0.6em 1em;
  padding: 0.2em 0.4em;
  background: oklch(0.988 0.065 107.54);
  z-index: 100;
  top: 0;
  left: 0;
}

#content {
  anchor-name: --content;
  background-color: var(--content-background);
  color: var(--content-color);
}

#content:not(.category-listing) article {
  border-bottom: 6px solid oklch(0.45 0 89.876);
  padding-bottom: 1em;
  margin-bottom: 3em;
}

article .info {
  font: 0.625em var(--main-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5em 0 1em;
}

article div[itemprop="articleBody"] > p:first-child::first-letter {
  color: var(--primary-dark-color);
  font: 600 3.5em var(--main-font);
  float: left;
  font-size: 52px;
  line-height: 46px;
  padding-top: 2px;
  padding-right: 8px;
}

article img {
  width: 100%;
  height: auto;
}

article footer {
  border-top: var(--border-width) solid oklch(0.45 0 89.876);
  padding-top: 1em;
  margin-top: 2em
}

.breadcrumbs, .tags, .tags ul, .tags ul > li {
  display: inline;
  margin: 0;
  font-family: inherit;
}

.tags ul > li + li::before {
  content: ", ";
}

.category-listing {
  font-family: var(--code-font);
}

.category-listing h2 {
  margin-bottom: 1em;
}

.category-listing section {
  position: relative;
}

.category-listing section > h1 {
  position: absolute;
  margin: -0.2ex 0;
}

.category-listing article {
  position: relative;
  left: 11em;
  padding-bottom: 1.5em;
}

.category-listing article h1 {
  font-size: 1.5em;
}

.category-listing article time {
  position: absolute;
  top: 0;
  left: -5.5em;
  font-size: 1em;
}

.webmentions ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline: 0 32px;
  row-gap: 0;
}

.webmentions li {
  margin-inline-start: 0;
  margin-inline-end: -9px;
  padding: 0;
  transition: translate .8s var(--ease-squish-3);
}

.webmentions li:hover {
  translate: 0 -7px;
}

.webmentions img {
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-round);
}

#search {
  width: 100%;
  max-width: clamp(20em, 100vw - 4em, 52em);
  min-width: clamp(12em, 100vw - 4em, 32em);
}

#search .pagefind-ui__result-title {
  font: var(--heading-font);
  letter-spacing: -1px;
}

.footer {
  color: var(--text-color-on-primary);
  background-color: var(--primary-color);
}

.footer p,
.footer ul {
  font: 1.25em var(--main-font);
  text-align: left;
  padding: 0;
  margin: 0;
}

.footer ul li {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  list-style-type: none;
}

.footer a {
  color: var(--text-color-on-primary);
  text-decoration: none;

  &:hover {
    background: transparent;
    color: oklch(1 0 89.876);
    text-decoration: underline;
  }
}


.footer .footer__inner {
  padding: 1em 1.5em;
}

.footer .footer__copyright {
  background-color: oklch(0 0 0 / 0.35);
  padding: 0.25em 1.5em;
  box-sizing: border-box;
}

#head h1 {
  font-size: clamp(1.5rem, 13vw, 4rem);
  font-weight: 800;
  transform: rotate(-8deg) translateY(clamp(0em, -2vw + 0.5em, 0.5em));
  transition: transform 200ms ease-in-out;

  @media screen and (min-width: 1440px) {
    transform: rotate(-8deg) translateX(-230px) translateY(15px);
  }
}

#head h1 a {
  color: var(--secondary-dark-color);
  text-decoration: none;
}

#head nav {
  --icon-size: 32px;
  --gap: 16px;

  position: absolute;
  top: var(--gap);
  right: var(--gap);
}

#head nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);

  > li {
    margin: 0;
  }
}

#head nav a {
  display: inline-flex;

  &:hover {
    --icon-color: oklch(1 0 89.876);
    border-radius: 4px;
  }
}

#head nav a svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

#content {
  margin: 4em 0 1em 1ex;
  padding: 1em;
}

@media screen and (min-width: 701px) {
  #top {
    margin: 0 auto;
    max-width: 60em;
  }

  #top > .footer {
    margin-top: 1.4em;
  }

  .footer .footer__inner {
    padding: 1em 4em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 200px 200px 320px;
  }

  .footer .footer__copyright {
    padding-left: 4em;
  }

  #content {
    margin: 4em 0 1em;
    padding: 2em 4em;
    max-width: 52em;
    min-width: 38em;
  }

  #content:not(.category-listing) article + article {
    margin-top: 8em;
  }
}

@media print {
  html,
  body {
    font-size: 13pt;
    color: oklch(0 0 0);
    border: 0;
  }

  p,
  ul,
  ol,
  dl {
    text-align: left;
  }

  a {
    color: oklch(0 0 0);
  }

  code {
    background: transparent;
    font: 0.85em var(--code-font);
  }

  pre {
    border: 0;
    margin: 1em 0;
    padding: 0.5em;
    overflow: visible;
  }

  pre.console {
    background: transparent;
    color: oklch(0 0 0);
  }

  pre.console code {
    font-family: var(--code-font);
    color: oklch(0 0 0);
  }

  pre code {
    background: transparent;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }

  .noprint,
  .footer,
  .newComment,
  .menu,
  .search,
  .wai,
  #head h1 .image {
    display: none;
  }

  #top {
    border: 0;
  }

  #content {
    margin: 0;
    max-width: none;
    min-width: 0;
  }

  #head h1 {
    font: 1.2em/2 Cambria, Georgia, "New York CE", utopia, serif;
    border-bottom: 1pt solid oklch(0.6 0 89.876);
    margin-bottom: 2em;
    position: static;
    width: auto;
    height: auto;
    text-align: center;
  }

  #head h1 a {
    text-decoration: none;
  }
}
