<!doctype html>
<html lang="cs">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<title></title>
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//apis.google.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="">
<meta name="description" content="">
<link rel="home" href="/weblog/">
<link rel="category" href="">
<link rel="canonical" href="">
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous-weblog" title="rarouš.weblog - poslední články">
<link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
<meta property="fb:app_id" content="215763288621854">
<meta property="og:type" content="article">
<meta property="og:site_name" content="rarouš.weblog">
<meta property="article:published_time" content="">
<meta property="article:section" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="rarous.net">
<meta name="twitter:site" content="@rarousweblog">
<meta name="twitter:creator" content="">
<meta name="twitter:title" property="og:title" content="">
<meta name="twitter:image" property="og:image" content="">
<meta name="twitter:description" content="">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
  ga('create','UA-90726-1','auto');ga('send','pageview')
</script>
<!--[if lt IE 9]><script src=https://html5shim.googlecode.com/svn/trunk/html5.js></script><![endif]-->
<link rel="stylesheet" href="https://use.typekit.net/kwv2yxs.css">
<link rel="stylesheet" href="/design/blog/blog.css">
<link rel="shortcut icon" href="/design/blog/favicon.png" type="image/png">
</head>
<body id="rarous">
<div id="fb-root"></div>
<div id="top">

<div class="wai">
    <a href="http://www.ippi.cz/klavesove-zkratky/neni-mapa-stranek.html" accesskey="1" tabindex="1">Klávesové zkratky na tomto webu - rozšířené</a>
    <a href="#content" accesskey="0" tabindex="2">Na obsah stránky</a>
</div>

<div id="head">
    <h1><a href="/weblog/" title="Přejít na weblog">rarouš.weblog<span class="image"></span></a></h1>
    <div class="menu" role="menu">
        <a href="/" accesskey="2">Home</a>
        <a href="/photos/" accesskey="5">Photos</a>
        <a href="/#contact" accesskey="6">Contact</a>
        <strong>Blog</strong>
        <a href="/webdesign/" accesskey="7">Projects</a></div>
</div>

<div id="content">
    <article role="article" itemscope itemtype="https://schema.org/BlogPosting">
        <header>
            <h1 itemprop="name"></h1>
            <p class="info"><time pubdate itemprop="datePublished" datetime=""></time></p>
        </header>
        <div itemprop="articleBody"></div>
        <footer itemprop="author" itemscope itemtype="https://schema.org/Person">
            Autor: <strong itemprop="name"></strong> <span class="noprint"> |
            <a rel="bookmark" href="#" itemprop="url" title="Permalink">#</a> </span>
        </footer>
    </article>

<p>Našli jste v článku chybu? Máte námět na reportáž? <a href="https://github.com/rarous/rarousnet/issues/new">Založte mi ticket</a>.
</div>
<div class="clear"></div>
<div class="footer">
<div class="box drop rubriky">
<h2>Rubriky</h2>
<div class="inner">
<ul><li><a href="/weblog/tag/webdesign.html" title="Vypsat články z rubriky Webdesign">Webdesign</a>
    <li><a href="/weblog/tag/cleancode.html" title="Vypsat články z rubriky Čistý kód">Čistý kód</a>
    <li><a href="/weblog/tag/functional.html" title="Vypsat články z rubriky Funkcionální programování">Funkcionální programování</a>
    <li><a href="/weblog/tag/ci.html" title="Vypsat články z rubriky Kontinuální integrace">Kontinuální integrace</a>
    <li><a href="/weblog/tag/radar.html" title="Vypsat články z rubriky Technologický radar">Technologický radar</a>
    <li><a href="/weblog/tag/moje-prace.html" title="Vypsat články z rubriky Moje práce">Moje pr&#225;ce</a>
    <li><a href="/weblog/tag/czpodcast.html" title="Vypsat články z rubriky CZ Podcast">CZ Podcast</a>
    <li><a href="/weblog/tag/jen-tak.html" title="Vypsat články z rubriky Jen tak">Jen tak</a>
    <li><a href="/weblog/tag/muzika.html" title="Vypsat články z rubriky Muzika">Muzika</a>
  </ul>
</div>
</div>
<div class="ads">
<p>© 2019 Aleš Roubíček. Publikováno pod licencí <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC 4.0 BY-SA</a>.</p>
</div>
</div>
<script src="/assets/js/prism.js"></script>
</div>
</body>
</html>
