<!doctype html>
<html lang="cs">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title></title>
  <link rel="preconnect" href="//www.google-analytics.com">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://p.typekit.net">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-bolditalic.woff2">
  <meta name="author" content="">
  <meta name="description" content="">
  <link rel="home" href="/weblog/">
  <link rel="category" href="">
  <link rel="canonical" href="">
  <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous-weblog"
        title="rarouš.weblog - poslední články">
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <meta property="fb:app_id" content="215763288621854">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="rarouš.weblog">
  <meta property="article:published_time" content="">
  <meta property="article:section" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="rarous.net">
  <meta name="twitter:site" content="@rarousweblog">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" property="og:title" content="">
  <meta name="twitter:image" property="og:image" content="">
  <meta name="twitter:description" content="">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
    ga('create','UA-90726-1','auto');ga('send','pageview')
  </script>
  <!--[if lt IE 9]>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js></script><![endif]-->
  <link rel="stylesheet" href="https://use.typekit.net/xhz7oko.css">
  <link rel="stylesheet" href="/design/blog/iosevka.css">
  <link rel="stylesheet" href="/design/blog/blog.css">
  <link rel="shortcut icon" href="/design/blog/favicon.png" type="image/png">
</head>
<body id="rarous">
<div id="top">

  <div class="wai">
    <a href="#content" accesskey="0" tabindex="2">Na obsah stránky</a>
  </div>

  <header id="head">
    <h1><a href="/weblog/" title="Přejít na hlaní stránku blogu">rarouš.weblog<span class="image"></span></a></h1>
  </header>

  <main id="content">
    <article vocab="https://schema.org" typeof="BlogPosting">
      <link property="image" href="">
      <header>
        <h1 property="headline"></h1>
        <p class="info">
            <span property="author" typeof="Person">
              <strong property="name"></strong>
            </span>
          |
          <time property="datePublished" datetime=""></time>
          <span class="noprint"> | <a property="url" rel="bookmark" href="#" title="Permalink"># permalink</a></span>
        </p>
      </header>
      <div property="articleBody"></div>
      <footer>
        <p>Zaraženo v:</p>
        <nav class="breadcrumbs" typeof="BreadcrumbList">
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="1"></data>
            <a property="item" typeof="WebPage" href="/">
              <span property="name">rarouš.net</span></a>
          </span>/
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="2"></data>
            <a property="item" typeof="WebPage" href="/weblog/">
              <span property="name">weblog</span></a>
          </span>/
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="3"></data>
            <a property="item" typeof="WebPage" class="year" href="/weblog/2021/">
              <span property="name">2021</span></a>
          </span>/
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="4"></data>
            <a property="item" typeof="WebPage" class="month" href="/weblog/2021/03/">
              <span property="name">březen</span></a>
          </span>/
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="5"></data>
            <a property="item" typeof="WebPage" class="day" href="/weblog/2021/03/20/">
              <span property="name">20</span></a>
          </span>
        </nav>
      </footer>
    </article>

    <p>Našli jste v článku chybu? Máte námět na reportáž? <a href="https://github.com/rarous/rarousnet/issues/new">Založte
      mi ticket</a>.
  </main>

  <footer class="footer"></footer>
</div>
<script type="module">
  const codes = document.querySelectorAll("pre>code");
  for (const code of codes) {
    const pre = code.parentElement;
    for (const lang of pre.classList.values()) {
      code.classList.add(`language-${lang}`);
    }
  }
</script>
<script defer src="/assets/js/prism.js"></script>
</body>
</html>
