<!doctype html>
<html lang="cs">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="delegate-ch"
        content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title></title>
  <link rel="canonical" href="">
  <link rel="syndication" href="">
  <link rel="webmention" href="https://webmention.io/www.rarous.net/webmention">
  <link rel="preconnect" href="//www.google-analytics.com">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://p.typekit.net">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/assets/fonts/iosevka/woff2/iosevka-sparkle-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/assets/fonts/iosevka/woff2/iosevka-sparkle-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/assets/fonts/iosevka/woff2/iosevka-sparkle-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/iosevka/woff2/iosevka-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/iosevka/woff2/iosevka-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/iosevka/woff2/iosevka-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/assets/fonts/iosevka/woff2/iosevka-sparkle-bolditalic.woff2">
  <meta name="author" content="">
  <meta name="description" content="">
  <link rel="home" href="/weblog/">
  <link rel="feed" href="/weblog/feed/">
  <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous-weblog"
        title="rarouš.weblog - poslední články">
  <link rel="pingback" href="https://webmention.io/www.rarous.net/xmlrpc">
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <meta property="fb:app_id" content="215763288621854">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="rarouš.weblog">
  <meta property="article:published_time" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="rarous.net">
  <meta name="twitter:site" content="@rarousweblog">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" property="og:title" content="">
  <meta name="twitter:image" property="og:image" content="">
  <meta name="twitter:description" content="">
  <script type="module">
    function send(tid, en) {
      const data = new URLSearchParams({
        v: 2,
        tid,
        cid: `${Date.now()}${Math.random()}`,
        dl: location.href,
        aip: 1,
        en
      });
      navigator.sendBeacon(`https://www.google-analytics.com/g/collect?${data}`);
    }

    send("G-B3W7LTZE6J", "page_view");
  </script>
  <!--[if lt IE 9]>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js></script><![endif]-->
  <link rel="stylesheet" href="https://use.typekit.net/xhz7oko.css">
  <link rel="stylesheet" href="/assets/css/iosevka.css">
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
  <link rel="stylesheet" href="/assets/css/blog/blog.css">
  <link rel="shortcut icon" href="/weblog/favicon.png" type="image/png">
  <meta name="theme-color" content="#f77146">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body id="rarous">
<div id="top">

  <div class="wai">
    <a href="#content" accesskey="0" tabindex="2">Na obsah stránky</a>
  </div>

  <header id="head">
    <h1><a href="/weblog/" property="sameAs" title="Přejít na hlaní stránku blogu">rarouš.weblog<span
      class="image"></span></a></h1>
  </header>

  <main class="h-entry" id="content">
    <article vocab="https://schema.org" typeof="BlogPosting" data-pagefind-body>
      <link class="u-featured" property="image" href="">
      <header>
        <h1 class="p-name" property="headline" data-pagefind-meta="title"></h1>
        <p class="info" data-pagefind-ignore="all">
          <span class="p-author" property="author" typeof="Person">
            <strong property="name" data-pagefind-filter="author"></strong>
          </span>
          |
          <time class="dt-published" property="datePublished" datetime="" data-pagefind-sort="date[datetime]"></time>
          <span class="noprint"> | <a property="url" rel="bookmark" href="#" title="Permalink"># permalink</a></span>
        </p>
      </header>
      <div class="e-content" property="articleBody"></div>
      <footer data-pagefind-ignore="all">
        Publikováno v:&nbsp;
        <nav class="breadcrumbs" typeof="BreadcrumbList">
          <span property="itemListElement" typeof="ListItem">
            <data property="position" value="1"></data>
            <a property="item" typeof="WebPage" href="/">
              <span property="name">rarouš.net</span></a></span>/<span property="itemListElement" typeof="ListItem">
            <data property="position" value="2"></data>
            <a property="item" typeof="WebPage" href="/weblog/">
              <span property="name">weblog</span></a></span>/<span property="itemListElement" typeof="ListItem">
            <data property="position" value="3"></data>
            <a property="item" typeof="WebPage" class="year" href="/weblog/2021/">
              <span property="name">2021</span></a></span>/<span property="itemListElement" typeof="ListItem">
            <data property="position" value="4"></data>
            <a property="item" typeof="WebPage" class="month" href="/weblog/2021/03/">
              <span property="name">březen</span></a></span>/<span property="itemListElement" typeof="ListItem">
            <data property="position" value="5"></data>
            <a property="item" typeof="WebPage" class="day" href="/weblog/2021/03/20/">
              <span property="name">20</span></a></span>
        </nav>
        ;
        Označeno štítky:&nbsp;
        <nav class="tags">
          <ul>
            <li><a class="p-category" property="articleSection" rel="tag" href="" data-pagefind-filter="tag"></a></li>
          </ul>
        </nav>
      </footer>
    </article>

    <p>Našli jste v článku chybu? Máte námět na reportáž? <a href="https://github.com/rarous/rarousnet/issues/new">Založte
      mi ticket</a>.</p>

    <gryphoon-weblog api-endpoint="https://www.rarous.net/api/v1/weblog">
      <gryphoon-webmentions id="webmentions">
        <h2>Reakce v síti</h2>
        <section class="webmentions" id="like-of">
          <p>
            <data>Líbilo se</data>
          </p>
          <ul class="items">
            <li>Načítají se data&hellip;</li>
          </ul>
        </section>
        <section class="webmentions" id="repost-of">
          <p>
            <data>Přeposláno dál</data>
          </p>
          <ul class="items">
            <li>Načítají se data&hellip;</li>
          </ul>
        </section>
        <template>
          <li>
            <a>
              <time></time>
              <img alt="" src="" width="32" height="32" loading="lazy" decoding="async">
            </a>
          </li>
        </template>
      </gryphoon-webmentions>

      <gryphoon-comments id="komentare">
        <h2>Komentáře</h2>
        <section class="comments" id="comments">
          <p>
            <data>Okomentováno</data>
          </p>
          <ol class="items h-feed">
          </ol>
        </section>
        <template>
          <li id="" class="p-comment h-entry">
            <header class="p-author h-card">
              <div class="avatar">
                <a class="u-url" rel="nofollow">
                  <img alt="" src="" width="32" height="32"
                       loading="lazy" decoding="async"
                       class="u-photo">
                </a>
              </div>
              <h3 class="p-name"></h3>
            </header>
            <div class="e-content"></div>
            <footer>
              <p class="info">
                <time class="dt-published"></time>
                | <a href="" class="u-url" title="Trvalý odkaz na komentář" rel="bookmark">#</a></p>
            </footer>
          </li>
        </template>
      </gryphoon-comments>

      <div id="novy-komentar">
        <h2>Místo pro tvůj názor</h2>
        <form id="new-comment"
              action="/api/v1/weblog/comments?url=${permalink}"
              method="post"
              enctype="application/x-www-form-urlencoded">
          <fieldset>
            <legend>Nový komentář</legend>
            <div>
              <label for="comment-name">Jméno</label>
              <input id="comment-name" name="name" required>
              <span>(povinné)</span>
            </div>
            <div>
              <label for="comment-email">E-mail</label>
              <input id="comment-email" name="email" type="email">
              <p>Používá se pro zobrazení Gravataru</p>
            </div>
            <div>
              <label for="comment-web">Web</label>
              <input id="comment-web" name="web" type="url">
              <p>Odkaz na tvůj web nebo profil na sociálních sítích</p>
            </div>
            <div>
              <label for="comment-text">Text komentáře</label>
              <textarea name="text" id="comment-text" cols="60" rows="10" required minlength="5"></textarea>
              <p>Podporuje formátování pomocí <a href="https://texy.info/cs/syntax">Texy!</a><br>
                Například: <code><strong>**tučný text**</strong></code>, <code><em>*kurzíva*</em></code>, <code>"text
                  odkazu":adresa</code>.<br>
                Internetové adresy jsou převáděny na odkazy.<br>
                Na komentáře se můžete odkazovat pomocí <code>[<em>číslo komentáře</em>]</code>.</p>
              </p>
            </div>
            <div class="cf-turnstile"
                 data-sitekey="0x4AAAAAAAOCSb93_fOUweSv"
                 data-language="cs"
                 data-appearance="interaction-only"></div>
            <button>Okomentovat</button>
          </fieldset>
        </form>
      </div>
    </gryphoon-weblog>

    <script type="module" src="/assets/esm/gryphoon.js"></script>
  </main>

  <footer class="footer"></footer>
</div>
<script defer src="/assets/js/prism.js"></script>
</body>
</html>
