<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title></title>
  <link rel="preconnect" href="//www.google-analytics.com">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://p.typekit.net">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-regular.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-italic.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/design/blog/iosevka/woff2/iosevka-bold.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2"
        href="/design/blog/iosevka/woff2/iosevka-sparkle-bolditalic.woff2">
  <link rel="home" href="/weblog/">
  <link rel="canonical" href="">
  <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous-weblog"
        title="rarouš.weblog - poslední články">
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <script>
    self._ga = {
      // Full Measurement Protocol param reference:
      // https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters
      data: {
        v: "1", // Measurement Protocol version.
        tid: "UA-90726-1", // Tracking ID.
        cid: `${Date.now()}${Math.random()}`, // Client ID.
        dl: location.href, // Document location.
        aip: 1, // Anonymize IP
      },
      send(additionalParams) {
        navigator.sendBeacon(
          "https://google-analytics.com/collect",
          new URLSearchParams({
            ...this.data,
            ...additionalParams,
          }).toString()
        );
      },
    };
    _ga.send({ t: "pageview" });
  </script>
  <!--[if lt IE 9]>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js></script><![endif]-->
  <link rel="stylesheet" href="https://use.typekit.net/xhz7oko.css">
  <link rel="stylesheet" href="/design/blog/iosevka.css">
  <link rel="stylesheet" href="/design/blog/blog.css">
  <link rel="shortcut icon" href="/design/blog/favicon.png" type="image/png">
  <meta name="theme-color" content="#f77146">
</head>
<body id="rarous">
<div id="top">

  <div class="wai">
    <a href="#content" accesskey="0" tabindex="2">Na obsah stránky</a>
  </div>

  <header id="head">
    <h1><a href="/weblog/" title="Přejít na weblog">rarouš.weblog<span class="image"></span></a></h1>
  </header>

  <main id="content" class="category-listing">
    <h2></h2>
    <section role="feed">
      <h1></h1>
      <article vocab="https://schema.org" typeof="BlogPosting">
        <h1 itemprop="headline"><a itemprop="sameAs" href=""></a></h1>
        <time/>
      </article>
    </section>
  </main>

  <footer class="footer"></footer>
</div>
</body>
</html>
