<!doctype html>
<html lang="cs">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<title>rarouš.weblog</title>
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//apis.google.com">
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//use.typekit.net">
<link rel="preload" as="style" href="/design/blog/iosevka.css">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-slab-regular.woff2">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-regular.woff2">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-italic.woff2">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-slab-bold.woff2">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-slab-bolditalic.woff2">
<link rel="preload" as="font" crossorigin href="/design/blog/iosevka/woff2/iosevka-bold.woff2">
<meta name="description" content="Aleš Roubíček píše o webdesignu a čistém kódu.">
<meta name="blogcatalog" content="9BC9064972">
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous-weblog" title="rarouš.weblog - poslední články">
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rarous/weblog/comments" title="rarouš.weblog - komentáře k článkům">
<link rel="canonical" href="https://www.rarous.net/weblog/">
<meta property="fb:app_id" content="215763288621854">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.rarous.net/weblog/">
<meta property="og:title" content="rarouš.weblog">
<meta property="og:locale" content="cs_CZ">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-90726-1', 'auto');
ga('send', 'pageview');
</script>
<script>
WebFontConfig = {
  typekit: { id: 'xhz7oko' },
  custom: {
    families: ['Iosevka Web:n4,i4,n7', 'Iosevka Slab Web:n4,i4,n7,i7'],
    urls: ['/design/blog/iosevka.css']
  }
};
(function(d) {
  var wf = d.createElement('script'), s = d.scripts[0];
  wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
  wf.async = true;
  s.parentNode.insertBefore(wf, s);
})(document);
</script>
<!--[if lt IE 9]><script src=https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js></script><![endif]-->
<link rel="stylesheet" href="/design/blog/blog.css">
<link rel="shortcut icon" href="/design/blog/favicon.png" type="image/png">
</head>
<body id="rarous">
<div id="top">

<div class="wai">
<a href="http://www.ippi.cz/klavesove-zkratky/neni-mapa-stranek.html" accesskey="1" tabindex="0">Klávesové zkratky na tomto webu - rozšířené</a>
<a href="#content" accesskey="0" tabindex="0">Na obsah stránky</a>
</div>

<header id="head">
<h1><a href="/weblog/" title="Přejít na weblog">rarouš.weblog<span class="image"></span></a></h1>
</header>

<main id="content">
<article itemtype="https://schema.org/BlogPosting" itemscope="itemscope" role="article">
  <header>
    <h2 itemprop="name"><a href=""></a></h2>
    <p class="info">
      <span itemtype="https://schema.org/Person" itemscope="itemscope" itemprop="author">
        <strong itemprop="name">Aleš Roubíček</strong>
      </span>
      | <time datetime="" itemprop="datePublished" pubdate="pubdate"></time>
    </p>
  </header>
  <div itemprop="articleBody"></div>
</article>
</main>

<footer class="footer">
  <div class="footer__inner">
    <div id="rubriky" class="footer__box">
      <h2>Rubriky</h2>
      <ul>
        <li><a href="/weblog/tag/webdesign.html" title="Vypsat články z rubriky Webdesign">Webdesign</a>
        <li><a href="/weblog/tag/cleancode.html" title="Vypsat články z rubriky Čistý kód">Čistý kód</a>
        <li><a href="/weblog/tag/functional.html" title="Vypsat články z rubriky Funkcionální programování">Funkcionální
          programování</a>
        <li><a href="/weblog/tag/ci.html" title="Vypsat články z rubriky Kontinuální integrace">Kontinuální
          integrace</a>
        <li><a href="/weblog/tag/radar.html" title="Vypsat články z rubriky Technologický radar">Technologický radar</a>
        <li><a href="/weblog/tag/moje-prace.html" title="Vypsat články z rubriky Moje práce">Moje pr&#225;ce</a>
        <li><a href="/weblog/tag/czpodcast.html" title="Vypsat články z rubriky CZ Podcast">CZ Podcast</a>
        <li><a href="/weblog/tag/jen-tak.html" title="Vypsat články z rubriky Jen tak">Jen tak</a>
        <li><a href="/weblog/tag/muzika.html" title="Vypsat články z rubriky Muzika">Muzika</a>
      </ul>
    </div>
    <div id="meetupy" class="footer__box">
      <h2>Meetupy</h2>
      <ul>
        <li><a href="https://caffe.topmonks.com/">TopMonks Caffè</a>
        <li><a href="https://coderetreat.cz/">Coderetreat CZ</a>
        <li><a href="https://www.meetup.com/NerdDinner-CZ/">NerdDinner</a>
        <li><a href="https://www.meetup.com/Lambda-Meetup-Group/">PragueLambda</a>
        <li><a href="https://www.meetup.com/fsharping/">Fsharping</a>
        <li><a href="https://www.lambdup.io/">LambdUp</a>
      </ul>
    </div>
    <div id="blogy" class="footer__box">
      <h2>Spřízněné blogy</h2>
      <ul>
        <li><a href="https://blog.topmonks.com/">TopMonks Blog</a>
        <li><a href="https://zezivotarecruiterky.com/">Ze života recruiterky</a>
        <li><a href="http://www.jirifabian.net/wordpress/">Filemon's Rubikon</a>
        <li><a href="http://ptrnka.cz/">(P)Trnka</a>
        <li><a href="http://janboruta.com/">Jan Boruta</a>
        <li><a href="https://dagblog.cz/">dagblog</a>
        <li><a href="https://borekb.cz/">BorekB</a>
      </ul>
    </div>
  </div>
<div class="footer__copyright">
<p>© 2004&ndash;2019 Aleš Roubíček. Publikováno pod licencí <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC 4.0 BY-SA</a>.</p>
</div>
</footer>

</div>
<script src="/assets/js/prism.js"></script>

