{% extends "layouts/common-layout.njk" %}
{% from "macros/helpers.njk" import sprite %}

{% set title = "W3B - Výběr z článků - čtení doporučené Alešem Roubíčkem" %}
{% set description = "Výběr z článků, které stojí za to si přečíst. Ručně vybíráno Alešem Roubíčkem" %}
{% set contentSchema = "Collection" %}
{% set canonicalUrl = "https://www.rarous.net/w3b/" %}
{% set images = true %}

{% block head_preload %}
  <link rel="preload" as="font" crossorigin="anonymous" type="font/woff2"
        href="/assets/fonts/iosevka/woff2/iosevka-regular.latin.woff2">
{% endblock %}

{% block head %}
  <link rel="alternate" type="application/atom+xml"
        href="https://feeds2.feedburner.com/rarous/w3b"
        title="W3B - výběr z článků - čtení doporučené Alešem Roubíčkem">
{% endblock %}

{% block head_stylesheets %}
  <style>
    articles-feed {
      display: grid;
      row-gap: 2em;
      margin-block: 2em;
    }

    article h2 {
      font-size: 1.5em;
      margin-block: 0;
      text-wrap: balance;
    }

    article h2 + p {
      margin-block-start: 0;
    }

    article p {
      margin-block: 0.5lh;
    }

    .tags ul {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .tags li {
      display: inline;
      text-transform: lowercase;
    }

    .tags li:not(:last-of-type)::after {
      content: ", ";
      color: var(--text-color);
    }

    nav:has(feed-pagination) {
      border-block: var(--border-width) solid oklch(0.45 0 89.876);
      border-block-end-width: calc(2 * var(--border-width));
      margin-block-end: 2lh;
    }

    nav:has(feed-pagination) p {
      margin-block: 0.25lh;
    }

    feed-pagination {
      display: inline-flex;
      gap: 0.5ch;
      align-items: center;
      --icon-size: 20px;
      --icon-color: var(--text-color);
    }

    feed-pagination a:has(svg) {
      text-decoration: none;
      display: inline flex;
      place-items: center;
      width: calc(var(--icon-size) + 8px);
      height: calc(var(--icon-size) + 8px);
    }

    feed-pagination a:has(svg):hover {
      --icon-color: var(--text-color-on-primary);
      border-radius: 4px;
    }
  </style>
{% endblock %}

{% block navbar %}
  <li>
    <a
      href="https://feeds2.feedburner.com/rarous/w3b"
      type="application/atom+xml"
      title="Přihlásit se k odběru pomocí RSS">
      {{ sprite("rss", "Syndikace", "0 0 24 24", "feather feather-rss") }}
    </a>
  </li>
{% endblock %}


{% block content %}
  <hgroup>
    <h1>W3B - Výběr z článků</h1>
    <p>Ručně vybíráno Alešem Roubíčkem</p>
  </hgroup>

  <articles-feed endpoint="https://www.rarous.net/api/v1/w3b/" data-page-size="24">
    <template>
      <article itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
        <h2 itemprop="headline" class="p-name" lang="en"><a itemprop="url" class="u-url" href=""></a></h2>
        <p><span class="p-author" itemprop="author" itemscope itemtype="https://schema.org/Person"><strong
              itemprop="name"></strong></span> @ <code></code></p>
        <p itemprop="abstract"></p>
        <nav class="tags" aria-label="tags">
          Přidáno
          <time itemprop="published" class="dt-published"></time>
          .
          Označeno štítky:
          <ul>
            <li itemprop="articleSection"><a class="p-category" rel="tag" href="?tag="></a></li>
          </ul>
        </nav>
      </article>
    </template>
  </articles-feed>

  <nav aria-label="Stránkování">
    <p>
      <feed-pagination data-page-size="24">
        <a href="?page=0" class="first" aria-label="přejít na první stránku">
          {{ sprite("skip-back", "První", "0 0 24 24", "feather feather-skip-back") }}️</a>
        <a href="?page=0" class="prev" aria-label="přejít na předchozí stránku">
          {{ sprite("chevron-left", "Předchozí", "0 0 24 24", "feather feather-chevron-left") }}</a>
        <span>
          Stránka <data class="current"></data> z <data class="total"></data>
        </span>
        <a href="?page=1" class="next" aria-label="přejít na následující stránku">
          {{ sprite("chevron-right", "Další", "0 0 24 24", "feather feather-chevron-right") }}</a>
        <a href="?page=8" class="last" aria-label="přejít na poslední stránku">
          {{ sprite("skip-forward", "Poslední", "0 0 24 24", "feather feather-skip-forward") }}</a>
      </feed-pagination>
    </p>
  </nav>

  <p>Můžete se
    <a href="https://feeds2.feedburner.com/rarous/w3b" type="application/atom+xml"
       title="Přihlásit se k odběru pomocí RSS">přihlásit k odběru článků pomocí RSS</a>.</p>

  <p>Už jste všechno prošli a nic vás nezaujalo? To mě mrzí. Zkuste štěstí na
    <a href="https://www.izatlouk.cz/pro-vase-soft-skills">iZatlouk - doporučený obsah pro vaše soft skills</a>.</p>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ "w3b.js" | assetUrl("esm") }}"></script>
{% endblock %}
