{%- extends "layouts/common-layout.njk" -%}
{% set title = "W3B - Výběr z článků - čtení doporučené Alešem Roubíčkem" %}
{% set description = "Výběr z článků, které stojí za to si přečíst. Ručně vybíráno Alešem Roubíčkem" %}
{% set contentSchema = "Collection" %}
{% set canonicalUrl = "https://www.rarous.net/w3b/" %}
{% set images = true %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" href="https://feeds2.feedburner.com/rarous/w3b"
        title="W3B - výběr z článků - čtení doporučené Alešem Roubíčkem">
{% endblock %}

{% block head_stylesheets %}
<style>
  .feed {
    display: grid;
    row-gap: 2em;
    margin-block: 2em;
  }
  article h2 {
    font-size: 1.5em;
    margin-block: 0;
  }
  article p {
    margin-block: 0;
  }
</style>
{% endblock %}

{% block navbar %}
  <li>
    <a
      href="https://feeds2.feedburner.com/rarous/w3b"
      type="application/atom+xml"
      title="Přihlásit se k odběru pomocí RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           fill="var(--icon-color)">
        <path d="M0 0h24v24H0z" fill="none"/>
        <circle cx="6.18" cy="17.82" r="2.18"/>
        <path
          d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/>
      </svg>
    </a>
  </li>
{% endblock %}


{% block content %}
  <hgroup>
    <h1>W3B - Výběr z článků</h1>
    <p>Ručně vybíráno Alešem Roubíčkem</p>
  </hgroup>

  <articles-feed class="feed">
    <template>
      <article typeof="BlogPosting" class="h-entry">
        <h2 itemprop="headline" class="p-name" lang="en"><a itemprop="sameAs" class="u-url" href=""></a></h2>
        <p>Přidáno <time class="dt-published"></time> z webu <code></code>.</p>
      </article>
    </template>
  </articles-feed>
  <p>Na stránce se pracuje. Můžete se
    <a href="https://feeds2.feedburner.com/rarous/w3b" type="application/atom+xml"
       title="Přihlásit se k odběru pomocí RSS">přihlásit k odběru článků pomocí RSS</a>.</p>
{% endblock %}

{% block scripts %}
  <script type="module">
    /**
     * @param {Window} globalScope
     * @return {typeof ArticlesFeed}
     */
    export function defArticlesFeed({ HTMLElement, customElements }) {
      class ArticlesFeed extends HTMLElement {
        #itemTemplate;

        static register(tagName = "articles-feed") {
          this.tagName = tagName;
          customElements.define(tagName, this);
        }

        get loaded() {
          return this.hasAttribute("loaded");
        }

        set loaded(isLoaded) {
          this.toggleAttribute("loaded", Boolean(isLoaded));
        }

        set data(data) {
          if (!this.loaded) {
            this.appendChild(this.renderFeed(data));
            this.loaded = true;
          }
        }

        get lang() {
          return this.getAttribute("lang") ?? this.ownerDocument.documentElement.lang ?? "cs";
        }

        connectedCallback() {
          this.setAttribute("role", "feed");
          this.#itemTemplate = this.querySelector("template");
          this.addEventListener("click", e => {
            if (e.target.classList.contains("u-url")) {
              const params = new URLSearchParams({
                url: e.target.href,
                event: "clicks"
              });
              navigator.sendBeacon("https://www.rarous.net/api/v1/w3b/beacon", params);
            }
          });
        }

        renderFeed(data) {
          const formatter = new Intl.DateTimeFormat(this.lang, { day: "numeric", month: "long", year: "numeric" });
          const items = this.ownerDocument.createDocumentFragment();
          for (const { entry } of Object.values(data).sort((a, b) => -1 * a.entry.published.localeCompare(b.entry.published))) {
            items.appendChild(this.renderItem(entry, formatter));
          }
          return items;
        }

        /**
         * @param {*} entry
         * @param {Intl.DateTimeFormat} formatter
         */
        renderItem(entry, formatter) {
          const item = this.#itemTemplate.content.cloneNode(true);

          const a = item.querySelector("a");
          a.href = entry.link;
          a.textContent = entry.title;

          const published = item.querySelector(".dt-published");
          published.datetime = entry.published;
          published.textContent = formatter.format(new Date(entry.published));

          const hostname = item.querySelector("code");
          hostname.textContent = entry.hostname;

          return item;
        }
      }
      return ArticlesFeed;
    }

    if (globalThis.window?.customElements) {
      defArticlesFeed(window).register();
    }

    const feed = document.querySelector(".feed");
    const resp = await fetch("https://www.rarous.net/api/v1/w3b/");
    feed.data = await resp.json();
  </script>
{% endblock %}
