{%- extends "layouts/common-layout.njk" -%}
{% set title = "W3B - Výběr z článků - čtení doporučené Alešem Roubíčkem" %}
{% set description = "Výběr z článků, které stojí za to si přečíst. Ručně vybíráno Alešem Roubíčkem" %}
{% set contentSchema = "Collection" %}
{% set canonicalUrl = "https://www.rarous.net/w3b/" %}
{% set images = true %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" href="https://feeds2.feedburner.com/rarous/w3b"
        title="W3B - výběr z článků - čtení doporučené Alešem Roubíčkem">
{% endblock %}

{% block head_stylesheets %}
  <style>
    articles-feed {
      display: grid;
      row-gap: 2em;
      margin-block: 2em;
    }

    article h2 {
      font-size: 1.5em;
      margin-block: 0;
      text-wrap: balance;
    }

    article p {
      margin-block: 0;
    }
  </style>
{% endblock %}

{% block navbar %}
  <li>
    <a
      href="https://feeds2.feedburner.com/rarous/w3b"
      type="application/atom+xml"
      title="Přihlásit se k odběru pomocí RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           fill="var(--icon-color)">
        <path d="M0 0h24v24H0z" fill="none"/>
        <circle cx="6.18" cy="17.82" r="2.18"/>
        <path
          d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/>
      </svg>
    </a>
  </li>
{% endblock %}


{% block content %}
  <hgroup>
    <h1>W3B - Výběr z článků</h1>
    <p>Ručně vybíráno Alešem Roubíčkem</p>
  </hgroup>

  <articles-feed endpoint="https://www.rarous.net/api/v1/w3b/">
    <template>
      <article typeof="BlogPosting" class="h-entry">
        <h2 itemprop="headline" class="p-name" lang="en"><a itemprop="sameAs" class="u-url" href=""></a></h2>
        <p>Přidáno
          <time class="dt-published"></time>
          z webu <code></code>.
        </p>
      </article>
    </template>
  </articles-feed>

  <p>Na stránce se pracuje. Můžete se
    <a href="https://feeds2.feedburner.com/rarous/w3b" type="application/atom+xml"
       title="Přihlásit se k odběru pomocí RSS">přihlásit k odběru článků pomocí RSS</a>.</p>
{% endblock %}

{% block scripts %}
  <script type="module">
    import "{{ "w3b.js" | assetUrl("esm") }}";
    const feed = document.querySelector("articles-feed");
    await feed.loadDataFromApi();
  </script>
{% endblock %}
