:root {
  --futura: futura-pt, "Trebuchet MS", Arial, sans-serif;
  --iosevka: Iosevka, "Iosevka Web", Monaco, "Source Code Pro", Consolas, "Lucida Console", "Monaco CE", fixed, monospace;
  --iosevka-sparkle: "Iosevka Sparkle Web", Cambria, Georgia, "New York CE", utopia, serif;
  --garamond: cormorant-garamond, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --main-font: var(--futura);
  --content-font: var(--iosevka-sparkle);
  --citation-font: var(--garamond);
  --code-font: var(--iosevka);

  --heading-font: 800 2.5em var(--main-font);
}

body {
  border-block: var(--border-width) solid var(--border-color);
  font: 16px var(--main-font);
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

h1 {
  font: var(--heading-font);
  letter-spacing: -1px;
  text-wrap: balance;
  margin: 0;
  z-index: 20;
}

p {
  text-wrap: pretty;
  max-width: 48rem;
}