{% extends "layouts/common-layout.njk" %}
{% set title = "Jmenuji se Aleš Roubíček" %}
{% set contentSchema = "AboutPage" %}

{% block content %}
  {% markdown %}
    # Jmenuji se **Aleš Roubíček**
    A obdivuji lidi, co se dokáži popsat jedním až třema slovy.

    Jsme **partnerem** ve společnosti [hckr.studio](https://hckr.studio/), **[blogerem](/weblog/)**, **spoluorganizátorem**
    akce Hacker Camp, **architektem** a největším **kontributorem kódu** do projektu [Hlídač shopů](https://www.hlidacshopu.cz/).
    [**DJ** Alessio Busta](https://rarousmusic.com/). Rád vařím [dobrá jídla](/recepty/),
    poslouchám [hudbu z vinylů](/kolekce/vinyly), hraju na kytaru, nebo se vrtám v elektronice, ve zdech nebo v zahradě.
    V něčem jsem o něco víc neúspěšný, ale to je součást procesu učení.

    Mojí misí je spojovat správné lidi a otevírat lidský potenciál. Protože **všechno je to o lidech**.

    Živí mě [vývoj všeho okolu webu](/weblog/tag/moje-prace).

    V minulosti jsem taky byl:

    - člověk, co se staral o infrastrukturu a běžný chod firmy [TopMonks](https://www.topmonks.com/)
    - organizátor a taky často mluvící hlava na [TopMonks Caffè](https://caffe.topmonks.com/)
    - spolupořadatel a facilitátor českého [Coderetreatu](https://www.coderetreat.cz/)
    - spoluorganizátor různých komunitních akcí (Nerd dinner, Prague Lambda Meetup, lambda LBC, lambdUp, coding dojo)
    - dělal jsem ve startupech i korporátech
    - vývojář webových projektů na portále [Atlas.cz](https://www.atlas.cz) (Pokec, ICQ, Atlas Firem, Opus)
  {% endmarkdown %}
{% endblock %}
