{% extends "layouts/common-layout.njk" %}

{% set title = "Jmenuji se Aleš Roubíček" %}

{% block content %}
{% markdown %}
Jmenuji se **Aleš Roubíček** a obdivuji lidi, co se dokáži popsat jedním až třema slovy.

Jsme partnerem ve společnosti [hckr.studio](https://hckr.studio), spoluorganizátorem
akce Hacker Camp, [DJ Alessio Busta](https://rarousmusic.com), rád vařím dobrá jídla,
hraju na kytaru, nebo se vrtám v elektronice, ve zdech nebo na zahradě. V něčem jsem
o něco víc neúspěšný, ale to je součást procesu učení.

Mojí misí je spojovat správné lidi a otevírat lidský potenciál.

V minulosti jsem taky byl:

- člověk, co se staral o infrastrukturu a běžný chod firmy [TopMonks](https://www.topmonks.com/)
- organizátor a taky často mluvící hlava na [TopMonks Caffè](https://caffe.topmonks.com/)
- spolupořadatel a facilitátor českého [Coderetreatu](https://www.coderetreat.cz/)
- spoluorganizátor různých komunitních akcí (Nerd dinner, Prague Lambda Meetup, lambda LBC, lambdUp, coding dojo)
- vývojář webových projektů na portále [Atlas.cz](https://www.atlas.cz) (Pokec, ICQ, Atlas Firem, Opus)
{% endmarkdown %}
{% endblock %}
