#content,
body > footer {
  --body-column: extra;
}

.collection .items {
  list-style-type: none;
  padding: 0;
  display: grid;
  margin-inline: auto;
  max-width: 90rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.album {
  position: relative;

  @media (hover: hover) {
    filter: saturate(0.2);
    @media (prefers-reduced-motion: no-preference) {
      transition: filter 200ms var(--ease-in-out-3);
    }

    &:hover,
    &:focus {
      filter: saturate(1);
    }
  }

  @media (hover: none) {
    filter: saturate(1);

    @supports (animation-timeline: view()) {
      filter: saturate(0.2);
      animation: linear --saturate-in-and-out;
      animation-timeline: view();
    }
  }

  a {
    --link-color: var(--text-color);
    text-decoration: none;

    &:hover {
      --link-color: inherit;
      text-decoration: underline;
    }

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1em;
    }

    :is(h2, h3, p) {
      margin: 0;
    }
  }
}
