<!doctype html>
<html lang="cs">
<head prefix="{{ prefix }}">
  <meta charset="UTF-8">
  <title>{% block title %}{{ title or meta.title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if images %}
    <meta http-equiv="delegate-ch"
          content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;">
    <link rel="preconnect" href="https://res.cloudinary.com">
  {% endif %}
  <link rel="preload" as="font" crossorigin="anonymous"
        href="{{ "innovator-grotesk/variable.woff2" | assetUrl("fonts") }}">
  <link rel="preload" as="font" crossorigin="anonymous" href="{{ "agrandir/variable.ttf" | assetUrl("fonts") }}">
  <link rel="preload" as="style" href="{{ "global.css" | assetUrl("stylesheets") }}">
  {% block preload %}{% endblock %}
  <meta name="author" content="all: {{ contact.name }}; mailto:{{ contact.email }}">
  <meta name="copyright" content="&copy; 2004 - {{ currentYear }} Aleš Roubíček. Creative Commons 4.0 BY-SA">
  <meta name="description" content="{{ description or meta.description }}">
  <meta name="generator" content="{{ generator or '@hckr_/blendid - static site generator and assets pipeline' }}">
  <link rel="me" href="https://indieweb.social/@alesroubicek">
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
  <link rel="canonical" href="{{ canonicalUrl }}">
  <link rel="webmention" href="https://webmention.io/www.rarous.net/webmention">
  <link rel="pingback" href="https://webmention.io/www.rarous.net/xmlrpc">
  {% block links %}{% endblock %}
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
  <style>
    @font-face {
      font-family: "Innovator Grotesk";
      src: url("{{ "innovator-grotesk/variable.woff2" | assetUrl("fonts") }}") format("woff2");
      font-display: swap;
    }

    @font-face {
      font-family: "Agrandir";
      src: url("{{ "agrandir/variable.ttf" | assetUrl("fonts") }}");
      font-weight: 100 900;
      font-display: swap;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-regular.latin.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-regular.latin-ext.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+100-17F;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 400;
      font-style: italic;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-italic.latin.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 400;
      font-style: italic;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-italic.latin-ext.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+100-17F;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 700;
      font-style: normal;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-bold.latin.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: "Iosevka Web";
      font-weight: 700;
      font-style: normal;
      font-display: swap;
      src: url("{{ "iosevka/woff2/iosevka-bold.latin-ext.woff2" | assetUrl("fonts") }}") format("woff2");
      unicode-range: U+100-17F;
    }

    @font-face {
      font-family: "Atkinson Hyperlegible";
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url("{{ "atkinson-hyperlegible/italic.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "Atkinson Hyperlegible";
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url("{{ "atkinson-hyperlegible/bolditalic.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "Atkinson Hyperlegible";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("{{ "atkinson-hyperlegible/regular.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "Atkinson Hyperlegible";
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("{{ "atkinson-hyperlegible/bold.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "OpenDyslexic";
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url("{{ "opendyslexic/italic.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "OpenDyslexic";
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url("{{ "opendyslexic/bolditalic.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "OpenDyslexic";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("{{ "opendyslexic/regular.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: "OpenDyslexic";
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("{{ "opendyslexic/bold.woff2" | assetUrl("fonts") }}") format("woff2");
    }

    @font-face {
      font-family: AndikaW;
      src: url("{{ "andika/regular.woff2" | assetUrl("fonts") }}");
    }

    @font-face {
      font-family: AndikaW;
      font-style: italic;
      src: url("{{ "andika/italic.woff2" | assetUrl("fonts") }}");
    }

    @font-face {
      font-family: AndikaW;
      font-weight: bold;
      src: url("{{ "andika/bold.woff2" | assetUrl("fonts") }}");
    }

    @font-face {
      font-family: AndikaW;
      font-weight: bold;
      font-style: italic;
      src: url("{{ "andika/bolditalic.woff2" | assetUrl("fonts") }}");
    }
  </style>
  <link rel="stylesheet" href="{{ "global.css" | assetUrl("stylesheets") }}">
  {% block head %}{% endblock %}
</head>
<body class="{{ bodyClass or body.class }}" id="{{ bodyId or body.id }}">
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
