a[rel~="colleague"],a[rel~="co-worker"]{padding-right:28px;background:url(xfn-colleague.png) no-repeat right;}
a[rel~="colleague"][rel~="met"],a[rel~="co-worker"][rel~="met"]{padding-right:32px;background:url(xfn-colleague-met.png) no-repeat right;}
a[rel~="friend"]{padding-right:28px;background:url(xfn-friend.png) no-repeat right;}
a[rel~="friend"][rel~="met"]{padding-right:32px;background:url(xfn-friend-met.png) no-repeat right;}
a[rel~="sweetheart"]{padding-right:28px;background:url(xfn-sweetheart.png) no-repeat right;}
a[rel~="sweetheart"][rel~="met"]{padding-right:32px;background:url(xfn-sweetheart-met.png) no-repeat right;}
a[rel~="child"]{padding-right:28px;background:url(xfn-child.png) no-repeat right;}
a[rel~="parent"]{padding-right:28px;background:url(xfn-parent.png) no-repeat right;}
a[rel~="spouse"]{padding-right:28px;background:url(xfn-spouse.png) no-repeat right;}
a[rel~="me"]{padding-right:28px;background:url(xfn-me.png) no-repeat right;}