@import "../wai.css";

html,body{margin:0;padding:0;background:#FFF;color:#555;font:16px sans-serif}
body{border-top:2px solid #333;border-bottom:2px solid #333;background:url(b.png) repeat-x top left}

h2,article h1{font:2.4em Georgia,'New York CE',utopia,serif;letter-spacing:-2px;margin:0;z-index:20}
h2 a{text-decoration:none}
h3{color:#666;font:1.4em 'Times New Roman',times,serif;letter-spacing:-1px;font-variant:small-caps;text-transform:capitalize;margin:1.2em 0 0}

p,ul,ol,dl{font:1.06em/1.4 Cambria,Georgia,'New York CE',utopia,serif;margin:.1em 0 1em;padding:0}
blockquote{border-left:2px solid #EFEFEF;color:#666;margin:.3em 0 .6em;padding:.4em 2em .2em;font-family:Constantia,Palatino,'palatino linotype',serif}
img.right{float:right;margin:.4em}

address{background:url(b20.png);font-size:.9em;font-style:normal;line-height:1.8;text-indent:.6em}
abbr,acronym{border-bottom:1px dotted #555}

code{background:#F7F7EE;font:.85em Consolas,'Lucida Console','Monaco CE',fixed,monospace}

pre{border:1px solid #CCC;margin:1em 0;padding:.5em;overflow:auto;max-width:680px}
pre code{background-color:transparent}
* html pre{overflow-y:visible}

pre.console{background:#000;color:#c0c0c0}
pre.console code{font-family:Fixedsys,monospace;color:#c0c0c0;background:transparent}

a{color:#006}
a img{border:0}
a:visited{color:#555}
a:hover{background:#C00;color:#FFF;text-decoration:none}

li{padding:0;margin:0 0 0 2.5em}

div.image{border:1px solid #CCC;padding:4px;margin:1em 0;overflow:auto}

.search{background:#FFF;border:1px solid #CCC;border-top:0;border-right:0;padding:.6em 1.4em 1em;margin:0;position:absolute;top:0;right:0}
.search fieldset{border:1px solid #929292;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin:0;padding:1px}
.search legend{display:none}
.search h2,.search label{position:absolute;top:-1000px}
.search input{border:0;margin:0;vertical-align:middle}
.search input[type~="text"]{line-height:1.3;width:9em}

.menu{font:1.6em 'Arial Black';text-transform:uppercase;letter-spacing:-3px;position:absolute;top:160px;z-index:20}
.menu a,.menu strong{padding:0 .2em}
.menu a{color:#EFEFEF;text-decoration:none}
.menu a:hover{color:#FFF}

.info,
article>footer{font:.68em 'Arial Narrow',sans-serif;text-transform:uppercase;letter-spacing:1px;margin:.56em 0 .9em}

article>footer{border-top:1px solid #666;border-bottom:3px double #666;text-indent:1em;line-height:2;margin:2.2em 0 2.4em;word-spacing:2px}
article>footer a{text-decoration:none;padding:0 .4em}
article>footer strong{font:bold 1em 'Segoe Script','Handwriting - Dakota','Lucida Handwriting','URW Chancery L',cursive;text-transform:none}
article .entry-content>p:first-child:first-letter{color:#C00;font-size:3.4em;line-height:.6em;padding:.06em .1em 0 0;float:left}

.comments h2{color:#C00;margin:.2em 0 .6em}
.comments p+h2{margin-top:1.2em}
.comments>ol{margin:0;padding-left:2em;font-size:2em}
.comments>ol>li{margin:0;padding:0 0 1.2em;color:#CCC;page-break-inside:avoid}
.comments>ol>li h3{color:#CCC;font:1.6em/1.4 Calibri,sans-serif;text-transform:none;margin:0}
.comments>ol>li h3 a:link,
.comments>ol>li h3 a:visited{color:#CCC;text-decoration:none}
.comments>ol>li h3 a:hover{color:#FFF !important}
.comments>ol>li p{text-indent:0;margin:.5em .5em .75em 0}
.comments>ol>li blockquote{padding:0;margin:0;border:0;font-size:1em;font-style:normal;width:60%;float:left}
.comments>ol>li blockquote blockquote{font:italic 1.06em/1.4 Cambria,Georgia,'New York CE',utopia,serif;padding:.6em 2em}
.comments>ol>li .listSux{line-height:2;margin-bottom:-2em}
.comments>ol>li .header{margin-top:.3em;width:40%;float:left}
.comments>ol>li .footer{clear:both;margin-left:40%}
.comments>ol>li .footer a:hover{background:#C00}
.comments>ol>li .info{font-size:.8em;color:#999}
.comments>ol>li .avatar{background:url(abg.png);border:1px solid #EFEFEF;width:40px;height:40px;margin:6px 8px 6px 6px;padding:2px;float:left}
.comments>ol>li .reader,
.comments>ol>li .author{border-top:1px solid #CCC;font-size:14px;color:#555}
.comments>ol>li .author h3,
.comments>ol>li .author h3 a{color:#8FA2BA}

.newComment{background:url(arrow.png) no-repeat;font:.86em/1.2 'Segoe UI','Tahoma','Geneva CE',lucida,sans-serif;position:relative;left:-80px}
.newComment p{font:.9em 'Segoe UI','Tahoma','Geneva CE',lucida,sans-serif;margin-bottom:2.5em}
.newComment form{background:url(form.png) no-repeat bottom left;border:1px solid #CCC;margin:0;padding:2em 1em 2em 3em;position:relative;left:80px;z-index:5}
.newComment fieldset{background:url(lines.png) no-repeat top right;border:0;margin:0;padding:0}
.newComment legend{display:none}
.newComment label{line-height:1.4;display:block}
.newComment textarea{background:transparent url(w50.png);width:420px;height:260px;float:left}
.newComment textarea:focus{background-image:url(w75.png)}
.newComment textarea,
.newComment input[type~="text"]{border:1px solid #8FA2BA}
.newComment input[type~="text"]{width:190px;height:18px;margin-bottom:.4em}
.newComment input[type~="submit"]{padding-top:8px;padding-bottom:8px;width:190px;cursor:pointer}
.newComment div{float:left;padding:5.8em 0 0 1.8em}
.newComment .hidden{display:none}
.newComment .image{background:url(cmt.png);display:block;width:40px;height:40px;position:absolute;right:-64px;top:10px;z-index:15}
.newComment .summary{color:#C00}
.newComment .required{border-color:#C00 !important}
.newComment .security{background:#FFC}
.newComment.secured .security{display:none}

.pager{clear:both;height:32px}
.pager a{line-height:3;display:block;width:50%;float:left}
.pager a[rel~="Prev"]{background:url(left.png) left no-repeat;}
.pager a[rel~="Next"]{background:url(right.png) right no-repeat;text-align:right}
.pager a:hover{background-color:#C00}

.hTagCloud {clear:both;margin:1.6em 0;text-align:center}
.hTagCloud a{text-decoration:none}
.hTagCloud ul{list-style-type:none;padding:0;margin:0}
.hTagCloud li{display:inline;font:.6875em 'Segoe Script','Handwriting - Dakota','Lucida Handwriting','Apple Chancery','URW Chancery L',cursive;margin:0}
.hTagCloud .v-popular{font-size:1.273em}
.hTagCloud .vv-popular{font-size:1.818em}
.hTagCloud .vvv-popular{font-size:2.545em}
.hTagCloud .vvvv-popular{font-size:3em}

.box{position:relative;}
.footer{color:#EFEFEF;background: #666;
background: -moz-linear-gradient(top,  #999 0%, #666 25%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(25%,#666666));
background: -webkit-linear-gradient(top,  #999 0%,#666 25%);
background: -o-linear-gradient(top,  #999 0%,#666 25%);
background: -ms-linear-gradient(top,  #999 0%,#666 25%);
background: linear-gradient(to bottom,  #999 0%,#666 25%);
position:relative;font-size:12px}
.footer p,.footer ul{font:1.16em 'Segoe UI','Trebuchet MS','Geneva CE',lucida,sans-serif;text-align:left;padding:0;margin:0}
.footer ul li{padding:0;margin:0;line-height:1.6}
.footer a{color:#CCC;text-decoration:none}
.footer a:hover{background:transparent;color:#FFF;text-decoration:underline}
.footer a img{border:0}
.footer .ads{background:rgba(51,51,51,.52);clear:both;}
.footer .ads p{margin:0;font-size:.9em !important;line-height:2.2;text-indent:.6em}
.footer .ads a{color:#CC0}
.footer .box{color:#CCC;border:1px solid transparent;float:left;clear:none;width:15em;margin:0 .416em 0 0}
.footer .box+.box{margin-left:.416em}
.footer .box h2{background:transparent;color:#CCC;font:2.16em Calibri,sans-serif;font-weight:200;letter-spacing:normal;margin:0 0 .3em;padding:0}
.footer .box ul{background:#666;font-size:1.166em;list-style-type:none;margin:.3em 0;padding:.714em;min-height:16em}
.footer .box .thumbnail{float:left;margin:0 .4em .2em 0;padding:2px;border:1px solid #CCC}

#top{border-top:2px solid #F09;border-bottom:2px solid #F09;margin:1px 0}

#head h1{position:relative;width:320px;height:194px;margin:0}
#head h1 .image{background:url(rarous.weblog.png);display:block;position:absolute;top:0;left:0;width:320px;height:194px;cursor:pointer;z-index:5}

#content{margin:4em 1ex 1em}

@media screen and (min-width: 701px) {
  #top{background:url(bg.png) no-repeat top right;min-width:50em}

  #top>.footer{border-bottom:2px solid #F09;min-height:8em;clear:both;margin-top:1.4em}
  #top>.footer>:first-child{margin-left:3.5em}

  #head{position:relative}
  #head h1{width:510px;height:215px}
  #head h1 .image{background:url(rarous-weblog.png);width:510px;height:215px}

  #content{margin:4em 4em 1em 8em;max-width:46em;min-width:38em}
  #content p:hover,#content li:hover,#content dl:hover{color:#111}

  .menu{background:url(menu.png?2) 0 -4px no-repeat;padding:0 3.8em;top:220px;font-size:2em}

  .footer .ads p{text-indent:1.8em}
}

@media print {
  html,body{font-size:13pt;color:black;border:0}
  p,ul,ol,dl{text-align:left}
  a{color:black}

  code{background:transparent;font:.85em Consolas,'Lucida Console','Monaco CE',fixed,monospace}

  pre{border:0;margin:1em 0;padding:.5em;overflow:visible;max-width:none}
  pre.console{background:transparent;color:black}
  pre.console code{font-family:Fixedsys,monospace;color:black}
  pre .kom,pre .elm,pre .hodnota,pre .tag,pre .selektor,pre .attr,pre .entita,pre .exp{color:black}
  pre code{background:transparent}
  pre code .keyword,pre code .int,pre code .operator,pre code .preproc,pre code .normal,pre code .string,pre code .comment,pre code .ln_nr,pre code .xml_tag,pre code .xml_com{color:black}

  .noprint,.footer,.newComment,.menu,.search,.wai,#head h1 .image{display:none}
  #top{border:0}
  #content{margin:0;max-width:none;min-width:0}
  #head h1{font:1.2em/2 Cambria,Georgia,'New York CE',utopia,serif;border-bottom:1pt solid gray;margin-bottom:2em;position:static;width:auto;height:auto;text-align:center}
  #head h1 a{text-decoration:none}

}
