{% extends "layouts/weblog.njk" %}
{% set prefix= "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" %}

{% block head %}
  <link rel="syndication" href="">
  <link rel="home" href="/weblog/">
  {{ super() }}
  <meta property="og:type" content="article">
  <meta property="og:title" content="rarouš.weblog">
  <meta property="article:published_time" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="rarous.net">
  <meta name="twitter:site" content="@rarousweblog">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" property="og:title" content="">
  <meta name="twitter:image" property="og:image" content="">
  <meta name="twitter:description" content="">
  <meta name="fediverse:creator" content="">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %}

{% set contentClass = "h-entry" %}
{% block content %}
  <article itemscope itemtype="https://schema.org/BlogPosting" data-pagefind-body>
    <link class="u-featured" itemprop="image" href="">
    <header>
      <h1 class="p-name" itemprop="headline" data-pagefind-meta="title"></h1>
      <p class="info" data-pagefind-ignore="all">
          <span class="p-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
            <strong itemprop="name" data-pagefind-filter="author"></strong>
          </span>
        |
        <time class="dt-published" itemprop="datePublished" datetime="" data-pagefind-sort="date[datetime]"></time>
        <span class="noprint"> | <a itemprop="url" rel="bookmark" href="#" title="Permalink"># permalink</a></span>
      </p>
    </header>
    <div class="e-content" itemprop="articleBody"></div>
    <footer data-pagefind-ignore="all">
      Publikováno v:&nbsp;
      <nav class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="Drobečky">
          <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><data
              itemprop="position" value="1"></data><a
              itemprop="item" itemscope itemtype="https://schema.org/WebPage" href="/"><span
                itemprop="name">rarouš.net</span></a></span>/<span
          itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><data
            itemprop="position" value="2"></data><a
            itemprop="item" itemscope itemtype="https://schema.org/WebPage" href="/weblog/"><span
              itemprop="name">weblog</span></a></span>/<span
          itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><data
            itemprop="position" value="3"></data><a
            itemprop="item" itemscope itemtype="https://schema.org/WebPage" class="year" href="/weblog/2021/"><span
              itemprop="name">2021</span></a></span>/<span
          itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><data
            itemprop="position" value="4"></data><a
            itemprop="item" itemscope itemtype="https://schema.org/WebPage" class="month" href="/weblog/2021/03/"><span
              itemprop="name">březen</span></a></span>/<span
          itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><data
            itemprop="position" value="5"></data><a
            itemprop="item" itemscope itemtype="https://schema.org/WebPage" class="day" href="/weblog/2021/03/20/"><span
              itemprop="name">20</span></a></span>
      </nav>
      |&nbsp;Označeno štítky:&nbsp;
      <nav class="tags" aria-label="Štítky">
        <ul>
          <li><a class="p-category" itemprop="articleSection" rel="tag" href="" data-pagefind-filter="tag"></a></li>
        </ul>
      </nav>
    </footer>
  </article>

  <section>
    <p>Je v článku chyba? Máš námět na reportáž? <a href="https://github.com/rarous/rarousnet/issues/new">Založ
        mi ticket</a>.</p>
  </section>

  <gryphoon-weblog api-endpoint="{{ weblog.apiEndpoint }}">
    <gryphoon-webmentions id="webmentions">
      <link rel="stylesheet" href="{{ "webmentions.css" | assetUrl("stylesheets") }}">
      <h2>Reakce v síti</h2>
      <section class="webmentions like-of">
        <p>
          Líbilo se&nbsp;<data value=""></data>
        </p>
        <ul class="items">
          <li>Načítají se data&hellip;</li>
        </ul>
      </section>
      <section class="webmentions repost-of">
        <p>
          Přeposláno dál&nbsp;<data value=""></data>
        </p>
        <ul class="items">
          <li>Načítají se data&hellip;</li>
        </ul>
      </section>
      <template>
        <li>
          <a>
            <time></time>
            <img alt="" src="" width="32" height="32" loading="lazy" decoding="async">
          </a>
        </li>
      </template>
    </gryphoon-webmentions>

    <gryphoon-comments id="komentare">
      <h2>Komentáře</h2>
      <section class="comments">
        <p>
          Okomentováno&nbsp;<data value=""></data>
        </p>
        <ol class="items h-feed">
        </ol>
      </section>
      <template>
        <li id="komentar-" class="p-comment h-entry">
          <header class="p-author h-card">
            <div class="avatar">
              <a class="u-url" rel="nofollow">
                <img alt="" src="" width="32" height="32"
                     loading="lazy" decoding="async"
                     class="u-photo">
              </a>
            </div>
            <h3 class="p-name"></h3>
          </header>
          <div class="e-content"></div>
          <footer>
            <p class="info">
              <a href="" class="u-url" title="Trvalý odkaz na komentář" rel="bookmark">#</a>
              | okomentováno
              <time class="dt-published"></time>
            </p>
          </footer>
        </li>
      </template>
    </gryphoon-comments>

    <div id="novy-komentar">
      <h2>Zapoj se do konverzace</h2>
      <form id="new-comment"
            action="/api/v1/weblog/comments?url=${permalink}"
            method="post"
            enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="article-title">
        <fieldset>
          <legend>Nový komentář</legend>
          <div>
            <label for="comment-name">Jméno</label>
            <input id="comment-name" name="name" required>
            <span>(povinné)</span>
          </div>
          <div>
            <label for="comment-email">E-mail</label>
            <input id="comment-email" name="email" type="email">
            <p>Používá se pro zobrazení <a href="https://cs.gravatar.com/">Gravataru</a></p>
          </div>
          <div>
            <label for="comment-web">Web</label>
            <input id="comment-web" name="web" type="url">
            <p>Odkaz na tvůj web nebo profil na sociálních sítích</p>
          </div>
          <div>
            <label for="comment-text">Text komentáře</label>
            <textarea name="text" id="comment-text" cols="60" rows="10" required minlength="5"></textarea>
            <p>Podporuje formátování pomocí <a href="https://texy.info/cs/syntax" target="texy">Texy!</a><br>
              Například: <code><strong>**tučný text**</strong></code>, <code><em>*kurzíva*</em></code>, <code>"text
                odkazu":adresa</code>.<br>
              Internetové adresy jsou převáděny na odkazy.<br>
              Na komentáře se můžete odkazovat pomocí <code>[<em>číslo komentáře</em>]</code>.</p>
            </p>
          </div>
          <div class="cf-turnstile"
               data-sitekey="0x4AAAAAAAOCSb93_fOUweSv"
               data-language="cs"
               data-appearance="interaction-only"></div>
          <button>Zveřejnit</button>
        </fieldset>
      </form>
    </div>
  </gryphoon-weblog>
{% endblock %}
