{%- extends "layouts/weblog.njk" -%}

{% block links %}
{{ super() }}
  <link rel="home" href="/weblog/">
{% endblock %}

{% set contentClass = "category-listing h-feed" %}
{% block content %}
    <h2></h2>
    <section role="feed">
      <h3></h3>
      <article typeof="BlogPosting" class="h-entry">
        <h4 itemprop="headline" class="p-name"><a itemprop="sameAs" class="u-url" href=""></a></h4>
        <time class="dt-published"></time>
      </article>
    </section>
{% endblock %}
