{% extends "layouts/weblog.njk" %}

{% set canonicalUrl = weblog.url %}
{% set contentSchema = "Blog" %}

{% block head %}
  {{ super() }}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ weblog.url }}">
  <meta property="og:title" content="rarouš.weblog">
  <meta property="og:locale" content="cs_CZ">
{% endblock %}

{% block content %}
  <div class="feed" role="feed">
    <article property="blogPost" typeof="BlogPosting">
      <link property="image" href="">
      <header>
        <h2 property="headline"><a property="sameAs" href=""></a></h2>
        <p class="info">
      <span typeof="Person" property="author">
        <strong property="name">Aleš Roubíček</strong>
      </span>
          |
          <time datetime="" property="datePublished"></time>
        </p>
      </header>
      <div property="articleBody"></div>
      <footer data-pagefind-ignore="all">
        Označeno štítky:&nbsp;
        <nav class="tags" aria-label="Štítky">
          <ul>
            <li><a class="p-category" property="articleSection" rel="tag" href="" data-pagefind-filter="tag"></a>
            </li>
          </ul>
        </nav>
        <gryphoon-weblog api-endpoint="{{ weblog.apiEndpoint }}">
          <gryphoon-webmentions>
          <span class="webmentions like-of">
            &nbsp;|&nbsp;Líbilo se&nbsp;<data></data>
          </span>
            <span class="webmentions repost-of">
            &nbsp;|&nbsp;Přeposláno dál&nbsp;<data></data>
          </span>
          </gryphoon-webmentions>

          <gryphoon-comments>
          <span class="comments">
            &nbsp;|&nbsp;Okomentováno&nbsp;<data></data>
          </span>
          </gryphoon-comments>
        </gryphoon-weblog>
      </footer>
    </article>
  </div>

  <div>
    <p>Přihlaš se k odběru:
      <a property="webFeed" href="{{ weblog.articlesFeedUrl }}" type="application/rss+xml">RSS Feed</a>
      · <a href="/weblog/feed/" rel="feed">HTML Feed</a>
    </p>
  </div>
{% endblock %}

