<dialog id="preferencesDialog" onclick="event.target === this && this.close()">
  <script type="module" src="{{ "settings-form.js" | assetUrl("esm") }}"></script>
  <settings-form id="preferences">
    <form method="dialog">
      <h2>Nastavení</h2>
      <fieldset class="theme">
        <legend>Barevné schéma</legend>
        <ul>
          <li><label><input type="radio" name="color-scheme" value="normal" checked> Automaticky</label></li>
          <li><label><input type="radio" name="color-scheme" value="light"> Světlé</label></li>
          <li><label><input type="radio" name="color-scheme" value="dark"> Tmavé</label></li>
        </ul>
      </fieldset>
      <fieldset class="fonts">
        <legend>Rodina fontů</legend>
        <div class="columns">
          <section>
            <h3>rarouš default</h3>
            <ul lang="en">
              <li><label style="font-family: var(--innovator-grotesk)"><input type="radio" name="--main-font"
                                                                              value="var(--innovator-grotesk)"
                                                                              checked>
                  Innovator Grotesk</label></li>
            </ul>
            <h3 lang="en">User agent default</h3>
            <ul lang="en">
              <li><label style="font-family: serif"><input type="radio" name="--main-font" value="serif">serif</label>
              </li>
              <li><label style="font-family: sans-serif"><input type="radio" name="--main-font" value="sans-serif">sans-serif</label>
              </li>
            </ul>
            <h3>Přístupnější fonty</h3>
            <ul>
              <li><label style="font-family: var(--atkinson-hyperlegible)"><input type="radio" name="--main-font"
                                                                                  value="var(--atkinson-hyperlegible)">
                  Atkinson Hyperlegible</label></li>
              <li><label style="font-family: var(--andika)"><input type="radio" name="--main-font"
                                                                   value="var(--andika)">
                  Andika</label></li>
              <li><label style="font-family: var(--lexend)"><input type="radio" name="--main-font"
                                                                   value="var(--lexend)">
                  Lexend</label></li>
              <li><label style="font-family: var(--opendyslexic)"><input type="radio" name="--main-font"
                                                                         value="var(--opendyslexic)">
                  OpenDyslexic</label></li>
            </ul>
          </section>
          <section lang="en">
            <h3><a href="https://moderfontstacks.com/">Modern font stacks</a></h3>
            <ul>
              <li><label style="font-family: var(--font-system-ui)"><input type="radio" name="--main-font"
                                                                           value="var(--font-system-ui)">
                  System UI</label></li>
              <li><label style="font-family: var(--font-serif)"><input type="radio" name="--main-font"
                                                                       value="var(--font-serif)">
                  UI Serif</label></li>
              <li><label style="font-family: var(--font-transitional)"><input type="radio" name="--main-font"
                                                                              value="var(--font-transitional)">
                  Transitional</label></li>
              <li><label style="font-family: var(--font-old-style)"><input type="radio" name="--main-font"
                                                                           value="var(--font-old-style)">
                  Old style</label></li>
              <li><label style="font-family: var(--font-humanist)"><input type="radio" name="--main-font"
                                                                          value="var(--font-humanist)">
                  Humanist</label></li>
              <li><label style="font-family: var(--font-geometric-humanist)"><input type="radio" name="--main-font"
                                                                                    value="var(--font-geometric-humanist)">
                  Geometric Humanist</label></li>
              <li><label style="font-family: var(--font-classical-humanist)"><input type="radio" name="--main-font"
                                                                                    value="var(--font-classical-humanist)">
                  Classical Humanist</label></li>
              <li><label style="font-family: var(--font-neo-grotesque)"><input type="radio" name="--main-font"
                                                                               value="var(--font-neo-grotesque)">
                  Neo Grotesque</label></li>
              <li><label style="font-family: var(--font-industrial)"><input type="radio" name="--main-font"
                                                                            value="var(--font-industrial)">
                  Industrial</label></li>
              <li><label style="font-family: var(--font-rounded-sans)"><input type="radio" name="--main-font"
                                                                              value="var(--font-rounded-sans)">
                  Rounded Sans</label></li>
              <li><label style="font-family: var(--font-slab-serif)"><input type="radio" name="--main-font"
                                                                            value="var(--font-slab-serif)">
                  Slab Serif</label></li>
              <li><label style="font-family: var(--font-antique)"><input type="radio" name="--main-font"
                                                                         value="var(--font-antique)">
                  Antique</label></li>
              <li><label style="font-family: var(--font-didone)"><input type="radio" name="--main-font"
                                                                        value="var(--font-didone)">
                  Didone</label></li>
              <li><label style="font-family: var(--font-handwritten)"><input type="radio" name="--main-font"
                                                                             value="var(--font-handwritten)">
                  Handwritten</label></li>
            </ul>
          </section>
        </div>
      </fieldset>
      <div>
        <button>Uložit</button>
      </div>
    </form>
  </settings-form>
</dialog>
