{% extends "layouts/common-layout.njk" %}
{% set title = "Kolekce Aleše Roubíčka" %}

{% block content %}
  {% markdown %}
    # Kolekce

    - [Vynyly](/kolekce/vinyly)
    - [Recepty](/recepty/)
  {% endmarkdown %}
{% endblock %}
