
{%- extends "layouts/common-layout.njk"  -%}
{% set title = "Vinyly Aleše Roubíčka" %}
{% set description = "Sbírka gramofonových desek Aleše Roubíčka." %}
{% set contentSchema = "Collection" %}
{% set images = true %}

{% block preload %}
  <link rel="preconnect" href="https://open.spotify.com">
  <link rel="preconnect" href="https://static.cloudflareinsights.com">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ "kolekce/vinyly.css" | assetUrl("stylesheets") }}">
{% endblock %}

{% block content %}
  <rarous-discogs api-endpoint="https://www.rarous.net/api/v1/collections/vinyls">
    <template>
      <li class="album" property="hasPart" typeof="MusicAlbum">
        <a href="https://www.discogs.com/release/" property="sameAs">
          <div>
            <img
              alt="Obal desky"
              src="https://res.cloudinary.com/rarous/image/fetch/dpr_auto,f_auto/"
              property="image" width="400" height="400" sizes="auto" loading="lazy">
            <hgroup>
              <h2 property="name"></h2>
              <h3 property="byArtist"></h3>
              <p property="copyrightYear"></p>
            </hgroup>
            <button>Přehrát na spotify</button>
          </div>
        </a>
      </li>
    </template>
    <section class="collection">
      <h1 property="name">Kolekce vinylů</h1>
      <p>Desky jsem začal sbírat na jaře 2013, když vyšly <a href="https://daftpunk.lnk.to/RAM_Originals">Random Access
        Memories</a>.
        To byl první kousek v&nbsp;mé kolekci. Trvalo další rok, než jsem si pořídil
        vlastní gramofon <a
          href="https://www.project-audio.com/en/product/elemental/">Pro-Ject Audio
          ELEMENTAL</a>. Časem jsem přebral kus kolekce od rodičů, kteří už si je
        nemají na čem pouštět. Tyto desky ale nemám ještě všechny
        katalogizované.</p>
      <p>Počet katalogizovaných desek v kolekci:
        <data property="collectionSize" value=""></data>
      </p>
      <ul class="items"></ul>
      <p>Zdrojem dat je <a href="https://www.discogs.com/user/rarous/collection">moje kolekce na Discogs</a>.</p>
      <p>Pokud mi chcete udělat radost, deska vždycky potěší. Inspirovat se můžete na
        <a href="https://www.amazon.de/hz/wishlist/ls/1P9UQLRGAKPG3?ref_=wl_share">seznamu mých hudebních přání</a>.</p>
    </section>
  </rarous-discogs>

  <gryphoon-weblog api-endpoint="https://www.rarous.net/api/v1/weblog" href="https://www.rarous.net/kolekce/vinyly">
    <gryphoon-webmentions id="webmentions">
      <link rel="stylesheet" href="/assets/css/webmentions.css">
      <h2>Reakce v síti</h2>
      <section class="webmentions" id="like-of">
        <p>
          Líbilo se&nbsp;<data></data>
        </p>
        <ul class="items">
          <li>Načítají se data&hellip;</li>
        </ul>
      </section>
      <section class="webmentions" id="repost-of">
        <p>
          Přeposláno dál&nbsp;<data></data>
        </p>
        <ul class="items">
          <li>Načítají se data&hellip;</li>
        </ul>
      </section>
      <template>
        <li>
          <a>
            <time></time>
            <img alt="" src="" width="32" height="32" loading="lazy" decoding="async">
          </a>
        </li>
      </template>
    </gryphoon-webmentions>
  </gryphoon-weblog>

  <dialog id="player" onclick="event.target === this && this.close()">
    <div id="embed-iframe"></div>
  </dialog>

  <script type="module">
    import "/assets/esm/gryphoon.js";
    import "/assets/esm/discogs.js";

    const discogs = document.querySelector("rarous-discogs");

    window.onSpotifyIframeApiReady = function(IFrameAPI) {
      const element = document.getElementById("embed-iframe");
      const player = document.getElementById("player");
      const options = {
        width: "100%",
        height: "100%"
      };

      function callback(EmbedController) {
        discogs.addEventListener("click", e => {
          if (e.target.localName !== "button") return;
          e.preventDefault();
          EmbedController.loadUri(e.target.dataset.spotifyUri);
          player.showModal();
        });
      }

      IFrameAPI.createController(element, options, callback);
    };

    // Spotify handler has to be registered before data loading, there is possible race condition
    await discogs.loadDataFromApi();
  </script>
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
{% endblock %}
