@property --icon-size {
  syntax: "<length>";
  inherits: true;
}

@property --icon-color {
  syntax: "<color>";
  inherits: true;
}

@layer theme {
  :root {
    --system-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --agrandir: Agrandir, "Neue Montreal", sans-serif;
    --innovator-grotesk: "Innovator Grotesk", var(--system-font);
    --atkinson-hyperlegible: "Atkinson Hyperlegible", var(--system-font);
    --opendyslexic: "OpenDyslexic", var(--system-font);
    --main-font: var(--innovator-grotesk);
    --headings-font: var(--agrandir);
    --code-font: Iosevka, "Iosevka Web", Monaco, "Source Code Pro", Consolas, "Lucida Console", "Monaco CE", fixed, monospace;
    --content-font: var(--main-font);
    --text-color: oklch(0 0 0);
    --text-color: light-dark(oklch(0 0 0), oklch(0.922 0.021 17.538));
    --background-color: oklch(1 0 89.876);
    --background-color: light-dark(oklch(1 0 89.876), oklch(0.239 0.019 40.904));
    --primary-color: oklch(0.703 0.175 38.139);
    --primary-dark-color: oklch(0.547 0.168 36.467);
    --text-color-on-primary: oklch(1 0 89.876);
    --secondary-color: oklch(0.543 0.091 237.043);
    --secondary-color: light-dark(oklch(0.543 0.091 237.043), oklch(0.655 0.101 239.128));
    --secondary-dark-color: oklch(0.392 0.088 238.557);
  }

  :root[data-theme='dark'] body {
    color-scheme: dark !important;
  }

  :root[data-theme='light'] body {
    color-scheme: light !important;
  }

  [data-font-family='innovator'] {
    --main-font: var(--innovator-grotesk);
  }

  [data-font-family='hyperlegible'] {
    --main-font: var(--atkinson-hyperlegible);
  }

  [data-font-family='dyslexic'] {
    --main-font: var(--opendyslexic);
  }
}

body {
  color-scheme: light dark;
  font: 16px var(--main-font);
  color: var(--text-color);
  background-color: var(--background-color);
  accent-color: var(--primary-color);
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero diagonal-fractions;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

h1 {
  font: 800 2.5em var(--headings-font);
  letter-spacing: -1px;
  text-wrap: balance;
  margin: 0;
  z-index: 20;
}

h2 {
  font: 700 2em var(--headings-font);
  font-variation-settings: "wdth" 60;
}

p,
ul,
ol,
dl {
  font: 1em var(--content-font);
  line-height: 1.5;
  text-wrap: pretty;
  margin: 0.125em 0 1em;
  padding: 0;
  max-width: 48rem;
}

:where(a) {
  --link-color: var(--secondary-dark-color);
  --link-color: light-dark(var(--secondary-dark-color), var(--secondary-color));
  color: var(--link-color);

  &:visited {
    --link-color: oklch(0.45 0 89.876);
  }

  &:hover {
    --link-color: var(--text-color-on-primary);
    background: var(--primary-dark-color);
    text-decoration: none;
  }

  &[disabled] {
    pointer-events: none;
    filter: saturate(0);
    opacity: 0.66;
  }

  img {
    border: 0;
  }
}

abbr {
  font-variant-caps: all-petite-caps;
}

figure {
  margin: 1rem 0 1.5rem;

  figcaption {
    max-width: 80%;
    margin: 1em auto 0;
    text-align: center;
    text-wrap: balance;
  }
}

img.right {
  float: right;
  margin: 0.4em;
}

abbr,
acronym {
  border-bottom: 1px dotted oklch(0.45 0 89.876);
}

code {
  background: oklch(0.974 0.012 106.618);
  background: light-dark(oklch(0.974 0.012 106.618), #514744);
  font: 1em var(--code-font);
  padding: 0 0.125em;
}

pre {
  border: 1px solid oklch(0.845 0 89.876);
  margin: 1em 0;
  padding: 0.5em;
  overflow: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
}

* html pre {
  overflow-y: visible;
}

sup, sub {
  font-size: inherit;
  vertical-align: baseline;
  font-variant-position: super;
}

sub {
  font-variant-position: sub;
}

table {
  font-variant-numeric: tabular-nums slashed-zero;
}

input, textarea, select, button, table, fieldset, label {
  font-family: var(--main-font);
}

.wai a {
  position: absolute;
  top: -1000px;
  left: -1000px;

  &:is(:focus, :active) {
    margin: 0.6em 1em;
    padding: 0.2em 0.4em;
    background: oklch(0.988 0.065 107.54);
    z-index: 100;
    top: 0;
    left: 0;
  }
}


header > nav {
  --icon-color: var(--text-color);
  --icon-size: 32px;
  --gap: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    gap: var(--gap);

    > li {
      margin: 0;
    }
  }

  a {
    display: inline-flex;

    &:hover {
      --icon-color: var(--text-color-on-primary);
      border-radius: 4px;
    }

    svg:not(.logo) {
      width: var(--icon-size);
      height: var(--icon-size);
      fill: var(--icon-color);
    }
  }
}

dialog {
  width: 100%;
  max-width: clamp(20em, 100vw - 4em, 52em);
  min-width: clamp(12em, 100vw - 4em, 32em);

  &::backdrop {
    backdrop-filter: blur(5px)
  }

  h2 {
    letter-spacing: -1px;
    text-wrap: balance;
    margin: 0;
  }

  nav, form {
    display: contents;
  }
}

#hamburger {
  nav {
    ul {
      font-family: var(--main-font);
      margin-block: var(--gap);
      list-style-type: none;
      padding: 0;
      line-height: 2;
    }

    li {
      margin: 0;
    }

    a {
      padding: 0.25em .5em;
    }
  }
}
