@font-face {
  font-family: sixten;
  src: url("/assets/fonts/sixten.woff2") format("woff2");
}
:root {
  --sixten: sixten, 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  --main-font: var(--sixten);

  --heading-font: 800 4em var(--main-font);

  --primary-color: oklch(0.703 0.175 38.139);
  --primary-dark-color: oklch(0.547 0.168 36.467);
  --text-color-on-primary: oklch(1 0 89.876);
  --secondary-color: oklch(0.543 0.091 237.043);
  --secondary-dark-color: oklch(0.392 0.088 238.557);
}

body {
  border-block: var(--border-width) solid var(--border-color);
  font: 1.25em var(--main-font);
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

h1 {
  font: var(--heading-font);
  font-feature-settings: "ss06";
  text-wrap: balance;
  text-transform: uppercase;
  margin: 0;
  z-index: 20;
}

p {
  text-wrap: pretty;
  font-variation-settings: "wdth" 120;
  max-width: 48rem;
}

a {
  color: var(--secondary-dark-color);
}

a img {
  border: 0;
}

a:visited {
  color: oklch(0.45 0 89.876);
}

a:hover {
  background: var(--primary-dark-color);
  color: var(--text-color-on-primary);
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
  filter: saturate(0);
  opacity: 0.66;
}

.wai a {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.wai a:focus,
.wai a:active {
  margin: 0.6em 1em;
  padding: 0.2em 0.4em;
  background: oklch(0.988 0.065 107.54);
  z-index: 100;
  top: 0;
  left: 0;
}

#hamburger {
  width: 100%;
  max-width: clamp(20em, 100vw - 4em, 52em);
  min-width: clamp(12em, 100vw - 4em, 32em);
}

#hamburger h2 {
  font: var(--heading-font);
  letter-spacing: -1px;
  text-wrap: balance;
  margin: 0;
}

#hamburger nav {
  display: contents;
}

#hamburger nav ul {
  font-family: var(--main-font);
  margin-block: var(--gap);
  list-style-type: none;
  padding: 0;
  line-height: 2;
}

#hamburger nav li {
  margin: 0;
}

#hamburger nav a {
  padding: 0.25em .5em;
}
