@font-face {
  font-family: "Innovator Grotesk";
  src: asset-url("fonts", "innovator-grotesk/variable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir';
  src: asset-url("fonts", "agrandir/variable.ttf");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir";
  src: asset-url("fonts", "agrandir/variable.latin.woff2");
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Agrandir";
  src: asset-url("fonts", "agrandir/variable.latin-ext.woff2");
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01FA-01FF, U+0218-021B, U+0237, U+0259, U+1E80-1E85, U+1E9E, U+20A1, U+20A4, U+20A6, U+20A8-20AA, U+20AD-20AE, U+20B1-20B2, U+20B4-20B5, U+20B8-20BA, U+20BD, U+20BF;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/italic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/bold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/italic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/bold.woff2") format("woff2");
}

@font-face {
  font-family: AndikaW;
  src: asset-url("fonts", "andika/regular.woff2") format("woff2");
}

@font-face {
  font-family: AndikaW;
  font-style: italic;
  src: asset-url("fonts", "andika/italic.woff2") format("woff2");
}

@font-face {
  font-family: AndikaW;
  font-weight: bold;
  src: asset-url("fonts", "andika/bold.woff2") format("woff2");
}

@font-face {
  font-family: AndikaW;
  font-weight: bold;
  font-style: italic;
  src: asset-url("fonts", "andika/boldiotalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  src: asset-url("fonts", "lexend/variable.latin.woff2");
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lexend";
  src: asset-url("fonts", "lexend/variable.latin-ext.woff2");
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0100-0101, U+0104-0130, U+0132-0151, U+0154-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01FA-01FF, U+0218-021B, U+0237, U+0259, U+1E80-1E85, U+1E9E, U+20A1, U+20A4, U+20A6, U+20A8-20AA, U+20AD-20AE, U+20B1-20B2, U+20B4-20B5, U+20B8-20BA, U+20BD, U+20BF;
}
