@font-face {
  font-family: "Innovator Grotesk";
  src: asset-url("fonts", "innovator-grotesk/variable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir';
  src: asset-url("fonts", "agrandir/variable.ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/italic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "atkinson-hyperlegible/bold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/italic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: asset-url("fonts", "opendyslexic/bold.woff2") format("woff2");
}
