.webmentions ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline: 0 32px;
  row-gap: 0;
}

.webmentions li {
  margin-inline-start: 0;
  margin-inline-end: -9px;
  padding: 0;
  will-change: translate;
  translate: 0 0;
  transition: translate 800ms var(--ease-bounce-3);

  &:hover {
    translate: 0 -7px;
  }
}
.webmentions img {
  aspect-ratio: var(--ratio-square, 1);
  border-radius: var(--radius-round, 50%);
}
