{% extends "layouts/common-layout.njk" %}
{% set title = "Recepty Aleše Roubíčka" %}

{% block content %}
  {% markdown %}
    # Recepty

    <q>Rád vařim a vim, že to umim.</q>

    - [Ooni Classic Pizza (Semolina Remix)](/recepty/pizza)

    Moje [původní sbírka receptů na Quipu](https://quip.com/QSd0Ozmp2J2T)
  {% endmarkdown %}
{% endblock %}
